@page "/unitlist"

<h3>UnitList - Napraviti listu jedinica mere sa devexpres gridom</h3>

<h5>UnitList - Dodati akcije, Novi , izmeni, brisanje</h5>

<h5>UnitList - Novi i izmenu neka idu na posebnoj formi </h5>

<h5>UnitList - Pre brisanje postaviti pitanje ? Da li ste sigurni da zelite da obrisete ________   DA /NE </h5>

